# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/

develop-eggs/

eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#SQLITE
*.sqlite3

.DS_Store

#Project Files

media/*

!media/users/default/default-avatar.png
!media/users/default/default_group_icon.png
!media/groups

app/media/
app/static/